@mixin flexSpaceBtwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexRowSpaced {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}