@import "partials/reset";
@import "partials/mixin";

$dark-color: #151515;
$brand-color: #0282f9;
$spacing-large: 3rem;

body {
    background-color: $dark-color;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1260px;
}

.imgContainer img {
    max-height: 100%;
    height: 100%;

    display: block;
}